/* For larger screens, move the Menu button to the far right */
@media (min-width: 992px) {
  .menu-button {
    margin-left: auto;
  }
}
/* hero section background img */
.background-holder {
  background-image: url("imgs/background-hero.jpg");
  background-size: cover;
  background-position: center;
}
.welcome {
  width: 100vw;
  height: 100vh;
  /* centering content */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* about section */
.about {
  background-image: url("imgs/background.jpg");
  background-size: cover;
  background-position: center;
}
.about-main-content {
  width: 80%;
}
.about-text {
  line-height: 1.8;
}
